body {
    color: #fff;
    font-family: "system-ui";
}
.about {
    margin-top: 100px;
    background-color: #406c8e;
}

.projects {
    background-color: #b8a60a;
}

h1 {
    font-weight: 800;
    font-size: 3em;
}

.scrolling-wrapper {
    overflow-x: auto;
}

.card-block {
    height: 30vh;
    width: 35vw;
    background-color: #fff;
    border: none;
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease-in-out !important;
    border-radius: 24px;
    &:hover {
        transform: translateY(-5px);
        box-shadow: none;
    }
}
